.boxPresentation {
    width: 100%;
    padding: 1rem;
    border-radius: 10px;
    background-color: white;
    margin: 1.4rem 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 6px;
}

@media screen and (max-width: 860px) {
    .box {
        width: 100%;
    }
}

.boxPresentation1 {
    width: 60%;
    padding-top: 2rem;
    border: transparent;
    margin: auto;
    background-color: transparent;
}

@media screen and (max-width: 860px) {
    .box {
        width: 100%;
    }
}

.boxPresentation2 {
    display: inline-block;
}

.boxPresentation2 .title {
    font-size: 1.5rem;
    font-weight: 600;
}

.boxPresentation2 .secondary-title {
    font-size: 1rem;
    font-weight: 300;
    font-style: italic;
}