.boxPresentation {
    width: 100%;
    padding: 1rem;
    border-radius: 10px;
    background-color: white;
    margin: 1.4rem 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 6px;
}

@media screen and (max-width: 860px) {
    .box {
        width: 100%;
    }
}

.boxPresentation1 {
    width: 60%;
    padding-top: 2rem;
    border: transparent;
    margin: auto;
    background-color: transparent;
}

@media screen and (max-width: 860px) {
    .box {
        width: 100%;
    }
}

.boxPresentation2 {
    display: inline-block;
}

.boxPresentation2 .title {
    font-size: 1.5rem;
    font-weight: 600;
}

.boxPresentation2 .secondary-title {
    font-size: 1rem;
    font-weight: 300;
    font-style: italic;
}

.card.collab {
    margin: .8rem 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: none;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.card.collab .btn {
    margin-right: .6rem;
}

.card.collab .card-body {
    padding: .5rem;
    border-radius: 5px;
}

.card.collab .card-body p {
    font-size: 1.2rem;
}

.card.collab .card-body p:last-child {
    font-size: .8rem;
    font-style: italic;
}