Form {
    margin: 10px;
}

.card {
    margin-left: 10%;
    margin-right: 10%;
}

.class {
    height: auto;
}

.group{
    position: relative;
}

.cancel {
    margin-left: 5px;
}

.error {
    color: #bf1650;
}

.btnChangePass {
    margin-top: 10px;
}