.textstyle{
    text-decoration: none;
}

.textstyle:hover{
    text-decoration: underline;
}

.box1 {
    padding: 10px;
    border: 1px transparent;
    background-color: transparent;
    border-radius: 10%;
}

.box1:hover{
    background-color: black;
}

.allign1 {
    display: inline-flex;
    justify-content: flex-end;
}