.question-modal-subtitle {
  font-size: .8rem;
  font-style: italic;
}

.question {
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
  border-radius: 5px;
  margin: 1rem 0;
  padding: 1rem;
}

.question-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: .5rem;
  margin-bottom: .5rem;
}

.question-header h1 {
  font-size: 1rem;
}

.question-header p {
  font-size: .8rem;
  font-style: italic;
  color: #606060;
}

.question-footer {
  display: flex;
  align-items: center;
  gap: .5rem;
  margin-top: .8rem;
}

.question-footer .btn.last-btn {
  margin-left: auto;
}

.question-footer p {
  color: blue;
  font-weight: bolder;
  font-size: .9rem;
}

.question-input {
  display: flex;
  align-items: flex-end;
  margin: 0;
  gap: .5rem;

  border-top: 1px solid #c4c4c4;
  padding-top: .6rem;
}

.question-input input {
  min-height: 10%;
}

.question-input .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .5rem;
}