.boxSlide {
  height: 400px;
  width: 600px;
  border: 2px solid rgb(72, 68, 68);
  margin: auto;
}

.boxSlide1 {
  width: 100%;
  border: transparent;
  padding: 10px;
  border-bottom: 1px solid gray;
}

.boxSlide2 {
  height: 100px;
  width: 150px;
  border: 2px solid rgb(72, 68, 68);
}

.boxSlide3 {
  height: 100%;
  border-left: 1px solid rgb(72, 68, 68);
}

.boxSlide4 {
  width: fit-content;
  padding: 5px;
}

.clicked {
  width: fit-content;
  padding: 5px;
  background-color: lightblue;
}

.boxSlide5 {
  height: 100%;
  border-right: 1px solid rgb(72, 68, 68);
  border-left: 1px solid rgb(72, 68, 68);
}