.box-verify {
  width: fit-content;
  padding: 20px;
  border: 0;
  margin: auto;
  background-color: transparent;
}

.green_btn {
  border: none;
  outline: none;
  padding: 12px 0;
  background-color: #3bb19b;
  border-radius: 20px;
  width: 180px;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
}

.red_btn {
  border: none;
  outline: none;
  padding: 12px 0;
  background-color: rgb(202, 95, 95);
  border-radius: 20px;
  width: 180px;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  color: whitesmoke;
}